<div class="grid">
  <%= form_for @user do |f| %>
      <div class="row cells2">
        <div class="cell">
          <label>Name</label>
          <div class="input-control text full-size">
            <%= f.text_field :name%>
          </div>
        </div>
        <div class="cell">
          <label>Country</label>
          <div class="input-control text full-size">
            <% country_list = CS.countries.to_a.map{ |a| [a[1], a[0].to_s]}%>
            <% if @user.new_record? %>
                <%= f.select :country,  country_list, {prompt: 'Select Country'}, { onchange: "getStates();"} %>
            <% else %>
                <%= f.select :country,  country_list, {selected: @user.country}, { onchange: "getStates();"} %>
            <% end %>

          </div>
        </div>
      </div>

      <div class="row cells2">
        <div class="cell">
          <label>State</label>
          <div class="input-control text full-size">
            <%= f.select :state, {},  {prompt: 'Select State'}, {onchange: "getCities();"} %>
          </div>
        </div>

        <div class="cell">
          <label>City</label>
          <div class="input-control text full-size">
            <%= f.select :city,  {}, {prompt: 'Select City'} %>
          </div>
        </div>
      </div>


      <div class="row cells2">
        <div class="cell">
          <label>Address</label>
          <div class="input-control text full-size">
            <%= f.text_field :address %>
          </div>
        </div>
        <div class="cell">
          <div class="input-control text full-size">
          </div>
        </div>
      </div>

      <%= f.submit class: 'button bg-orange' %>
  <% end %>
</div>


