<br>
<div class="example" data-text="Edit User Details">
  <%= render partial: 'form' %>
</div>

<%= javascript_tag do %>
    <% unless @user.new_record? %>
        getSelectedStates('<%= @user.state_name %>');
        getSelectedCities('<%= @user.city_name %>', '<%= @user.state %>');
    <% end %>
<% end %>
