<table class="table striped hovered cell-hovered border bordered" id="distance_from_place">
  <thead>
  <tr>
    <td class="sortable-column">Name</td>
    <td class="sortable-column">Address</td>
    <td class="sortable-column">Latitude</td>
    <td class="sortable-column">Longitude</td>
    <td class="sortable-column">Get Location</td>
    <td class="sortable-column">Select Source and Destination</td>
    <td class="sortable-column">Calculate Distance </td>
    <% if @user.present? %>
        <td class="sortable-column">Distance from <strong><%= @user.name %>'s</strong> Place</td>
    <% else %>
        <td class="sortable-column">Distance from Place</td>
    <% end %>
    <td class="sortable-column">Actions </td>
  </tr>
  </thead>

  <% unless @users.blank? %>
      <% @users.each do |user| %>
          <%
             image = (user.id == @user.id) ? 'distance_selected.png' : 'distance.png'
          %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.full_address %></td>
            <td><%= user.latitude %></td>
            <td><%= user.longitude %></td>

            <td style="text-align: center;">
              <%= link_to image_tag('location.png', height:35 ,width: 35), gmap_home_index_path(id: user.id), remote: true %>
            </td>
            <td><%= link_to 'Choose', '#', class: 'compare button bg-cyan button_shadow', rel: user.id %></td>

            <td><%= link_to image_tag(image, height:50 ,width: 80), distance_from_home_path(user), class: 'distance_from', remote: true %></td>
            <td><%= @user.distance_from([user.latitude, user.longitude]).round(2)%> miles</td>
            <td style="width: 100px;"><%= link_to image_tag('edit.png', height:30 ,width: 30), edit_user_path(user) %> <%= link_to image_tag('delete.png', height:30 ,width: 30), user_path(user), method: :delete, data: {confirm: 'Are you sure? This will not be recovered later.'} %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<div data-role="dialog" id="dialog4" class="padding20" data-close-button="true" data-type="warning">
  <h1>Simple dialog</h1>
  <p>
    Dialog :: Metro UI CSS - The front-end framework for developing projects on the web in Windows Metro Style
  </p>
</div>