
showDialog('dialog7');
$('.graph_heading').text('Location');
$('.graph_para').text('<%= @user.full_address %>');
$('#map').replaceWith('<%= escape_javascript(render(partial: 'graph')) %>');
initMap(<%= "#{@user.latitude}, #{@user.longitude}" %>);