<div id="table_detail">
  <%= render partial: 'table' %>
</div>

<br>
<div style="float: right;margin-right: 220px; margin-bottom: 15px;">
  <%= link_to 'Get Distance', '#' , id: 'distance', class: 'button bg-orange' %>
</div>
<br>


<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" data-windows-style="true">
  <div class="container">
    <h3 class="graph_heading"></h3>
    <p class="graph_para"></p>
    <div id="map-container">
      <div id="map-canvas">
        <%= render partial: 'graph' %>
      </div>
    </div>
  </div>
</div>








