/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map {
    height: 100%;
}

#map-container {
    height: 400px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
    display: block;
}
#map-canvas {
    height: 370px;
    width: 100%;
}

/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
    max-width: none;
}
/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
    width: auto; display:inline;
}

.menu_selected {
    background-color: #59cde2;
    color: #ffffff;
}

.green {
    background-color: #4CAF50; /* Green */
}

.red {
    background-color: #af0e03; /* Red */
}

.gray {
    background-color: #e7e7e7; color: black;
}

.blue {
    background-color: #008CBA;
}

.black {
    background-color: #555555;
}
