<!DOCTYPE html>
<html>
<head>
  <title>GeoCodesDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAohrcLOAWU0tTqLXpFKl5uCijA08j3RX8" async defer></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      var notifyMessage = '<%= flash[:notice] %>',
              notifyLevel = '<%= flash[:level] %>';
  </script>
</head>
<body>
<div class="container page-content">
  <h1><% link_to root_path, class: '"nav-button transform'  do %>
        <span></span>
    <% end %>&nbsp;Google Maps Demo</h1>
  <ul class="m-menu" >

    <li class="h-menu"> <%= nav_link 'Add Address', new_user_path %></li>
    <li class="h-menu"> <%= nav_link 'Map Activities', root_path %></li>
  </ul>

  <%= yield %>
</div>

</body>
</html>
